main {
    border-bottom: 2px solid var(--color-border);
}

#cal-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}

#tdee-stat {
    grid-column: span 2;
    background-color: var(--color-tdee-background);
}

.kcal {
    margin-left: 2rem;
    font-size: 1rem;
}

p.title {
    font-weight: 700;
}

#consumed-stat {
    background-color: var(--color-consumed-background);
}

#balance-stat {
    background-color: var(--color-balance-background);
}

.cal-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 15px;

    padding: 15px;
    gap: 5px;
}

.cal-card p {
    /* font-weight: var(--font-normal-weight); */
    margin: 0;
}

#food-log-text { 
    margin: 10px 0;
    margin-top: 15px;
}

#food-log {
    list-style: none;
    padding: 10px;
    height: 40vh;
    overflow-y: auto;

    margin-top: 5px;
}

#food-log h2 {
    font-size: var(--font-log-heading-size);
}

#food-log p {
    font-size: var(--font-log-normal-size);
    margin: 0;
    margin-top: 3px;
}

#food-log li {
    display: flex;
    margin-bottom: 5px;
    font-size: 18px;
}

#food-log .item-name-content {
    display: flex;
    flex-direction: column;

    width: 55%;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 5px;
}

#food-log li::before {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    content: "L";

    margin-right: 10px;

    width: 40px;
    height: 40px;
    font-weight: var(--font-heading-weight);

    border-radius: 5px;
    background-color: var(--color-tdee-background);
    color: var(--color-title);
}

.item-cals {
    margin-right: auto;
}

.item-favouriting, 
.item-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;

    background-color: inherit;
    border: none;
}

.item-delete:hover {
    fill: red;
}

.filled {
    display: none;
}
.filled.show {
    display: unset;
}
.hollow {
    display: none;
}
.hollow.show {
    display: unset;
}

#add-item-btn {
    width: 100%;
    padding: 10px 15px;

    background-color: var(--color-primary);
    color: var(--color-text-on-primary);
}

#add-item-btn:hover {
    background-color: var(--color-primary-hover);
}

@media (min-width: 768px) {
    #cal-stats {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        height: 15vh;
    }

    #tdee-stat {
        grid-column: span 1;
    }

    #estimated-tdee {
        display: block;
    }

    .kcal {
        margin-left: 0;
    }

    #food-log-container {
        display: flex;
        flex-direction: column;
    }

    #add-item-btn {
        width: fit-content;
        padding: 20px 40px 20px 20px;
        margin-left: auto;
        font-size: 1rem;
        font-weight: 700;
    }
}