@import url("./colour.css");

:root {
/* Font */
    --font-family: "DejaVu Sans", Arial, sans-serif;

/* font weights */
    --font-normal-weight: 400;
    --font-heading-weight: 700;

/*  */
    --font-normal-size: 1rem;
    --font-heading-size: 2rem;
    --font-normal-size-desktop: 1.3rem;
    --font-heading-size-desktop: 2.5rem;

    --font-log-heading: 1.3rem;
    --font-log-heading-desktop: 1.4rem;
    --font-log-normal: 0.8rem;
    --font-log-normal: 1.1rem;
}

body {
    background-color: var(--color-background);
    font-family: var(--font-family);
    font-weight: var(--font-normal-weight);
    margin: 0;
}

main {
    margin-bottom: 65px;
    padding: 0 20px;
}

.desktop-nav {
    display: none;
}

#daily-macro-logo {
    position: absolute;
    top: 10px;
    right: 20px;
}

#daily-macro-logo-desktop {
    display: none;
}

h1, h2, h3 {
    font-weight: var(--font-heading-weight);
    margin: 0;
    color: var(--color-text-primary);
}

h1 {
    font-size: var(--font-normal-size);
    margin: 15px 0;
    color: var(--color-title);
}

h2 {
    font-size: var(--font-heading-size);
}

h3 {
    font-size: var(--font-heading-size);
}

p, a, label {
    color: var(--color-text-secondary);
    font-weight: 400;
    font-size: var(--font-log-normal-size);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    background-color: var(--color-surface);
    border: 2px solid var(--color-border);
    border-radius: 10px;
}

/* Inputs */
input, select {
    background-color: var(--color-surface);
    border: 2px solid var(--color-border);
    border-radius: 10px;

    padding: 15px 10px;
    font-size: min(16px);
}
input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 30px;
    height: 30px;

    padding: 0;
    margin: 0;
    margin-right: 5px;
}
input[type="checkbox"]:checked {
    background-color: var(--color-primary);
}
input[type="checkbox"]:checked:before {
    position: absolute;
    top: 0;
    left: 0;

    transform: translate(35%, 0);
    content: "✓";
    color: var(--color-text-on-primary);
}
button {
    background-color: var(--color-primary);
    color: var(--color-text-on-primary);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.mobile-header {
    font-size: 1.5rem;
}

/* Nav bar */
.mobile-nav {
    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 10px;

    width: calc(100% - 20px);
    background-color: var(--color-surface);
    border-radius: 10px;
}

.mobile-nav a, .desktop-nav a {
    width: 100px;
    padding: 10px;

    color: var(--color-text-secondary);
    text-align: center;
    font-weight: 700;

    border-radius: 10px;
}

.mobile-nav a.active, .desktop-nav a.active {
    background-color: var(--color-primary-soft);
    color: var(--color-primary);
}

.desktop-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;

    width: 100%;
    height: 80px;
    padding: 0 40px;

    background-color: var(--color-surface);
    border-radius: 0 0 30px 30px;
}

.desktop-nav .link-holder {
    display: flex;
    gap: 50px;
}

.desktop-nav .link-holder a {
    transition: transform 0.3s ease;
}
.desktop-nav .link-holder a:hover {
    transform: scale(1.1);
}

.pair {
    font-weight: var(--font-normal-weight);
    font-size: var(--font-normal-size);
    color: var(--color-text-secondary);
}

.pair #estimated-tdee, .pair #tdee-estimate {
    font-weight: var(--font-heading-weight);
    font-size: var(--font-heading-size);
    color: var(--color-text-primary);
}

@media (min-width: 768px) {
    main {
        padding: 0 40px;
        margin-top: 100px;
    }

    #daily-macro-logo {
        display: none;
    }
    #daily-macro-logo-desktop {
        display: block;
    }

    #logo-and-text {
        display: flex;
        flex-direction: row;

        width: fit-content;
        cursor: pointer;
    }
    #logo-and-text img {
        margin-right: 10px;
    }

    h1, h2, h3 {
        font-size: var(--font-heading-size-desktop);
    }

    .pair #estimated-tdee, .pair #tdee-estimate {
        font-size: var(--font-heading-size-desktop);
    }

    p, a, label, span, button {
        font-size: var(--font-normal-size-desktop);
    }

    /* Inputs */
    input, select {
        padding: 20px 10px;
        font-size: var(--font-normal-size-desktop);
    }

    .mobile-nav {
        display: none;
    }
    .mobile-header {
        display: none;
    }

    .desktop-nav {
        display: flex;
    }
    
}